In [1]:
import pickle
import pyforest
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error, r2_score, root_mean_squared_error

In [3]:
# Load the trained model
with open("gb_best.pkl", "rb") as file:
    gb_best = pickle.load(file)

In [5]:
df_test= pd.read_csv(r"D:\LuxDev\ClassModels\test.csv")
df_test.head()

,credit_score,income,loan_amount,loan_term,interest_rate,debt_to_income_ratio,employment_years,savings_balance,age,default_risk_score
0,340,31745,8983,48,10.12,18.33,11,91417,56,8342.948454
1,439,115081,42051,60,3.33,31.77,6,17127,51,1710.293506
2,619,35313,6619,36,9.06,24.29,20,46761,42,8744.629774
3,664,72269,19226,48,4.29,12.50,26,64340,36,6191.771456
4,564,46292,30476,48,11.15,40.55,20,93831,50,3990.722206

In [7]:
#standard scale the test data
scaler= StandardScaler()
scaled_feat= ['loan_term', 'interest_rate', 'debt_to_income_ratio', 'employment_years', 'age']
df_test[scaled_feat]= scaler.fit_transform(df_test[scaled_feat])
#Log transfrorm credit_score, income, loan amount, savings balance & default risk score for the test data
log_feat= ['credit_score', 'income', 'loan_amount', 'savings_balance', 'default_risk_score']
df_test[log_feat]= np.log1p(df_test[log_feat])

In [9]:
#Split(vertical) the data
target= "default_risk_score"
X= df_test.drop(columns=[target])
y= df_test[target]

In [11]:
X= X.drop(columns= ['credit_score', 'income', 'savings_balance' ], axis=1)
X.head()

,loan_amount,loan_term,interest_rate,debt_to_income_ratio,employment_years,age
0,9.103200,0.647675,0.494890,-0.967770,-0.615437,0.947036
1,10.646662,1.336692,-1.653229,0.249744,-1.125750,0.603409
2,8.797851,-0.041341,0.159543,-0.427860,0.303126,-0.015120
3,9.864071,0.647675,-1.349519,-1.495903,0.915501,-0.427472
4,10.324728,0.647675,0.820746,1.045115,0.303126,0.534684

In [13]:
test_pred= gb_best.predict(X)
mse= mean_absolute_error(y, test_pred)
mape= mean_absolute_percentage_error(y, test_pred)
rmse = np.sqrt(mse)
r2= r2_score(y, test_pred)
print(f"MSE: {mse:.2f}")
print(f"RMSE: {rmse:.2f}")
print(f"MAPE: {mape:.2f}")
print(f"R2 Score: {r2:.2f}")

MSE: 0.03
RMSE: 0.17
MAPE: 0.00
R2 Score: 0.99

In [15]:
df_test['predicted_default_risk_gb']= pd.DataFrame(test_pred)
df_test.head()

,credit_score,income,loan_amount,loan_term,interest_rate,debt_to_income_ratio,employment_years,savings_balance,age,default_risk_score,predicted_default_risk_gb
0,5.831882,10.365522,9.103200,0.647675,0.494890,-0.967770,-0.615437,11.423198,0.947036,9.029292,9.025585
1,6.086775,11.653400,10.646662,1.336692,-1.653229,0.249744,-1.125750,9.748470,0.603409,7.445005,7.407116
2,6.429719,10.472035,8.797851,-0.041341,0.159543,-0.427860,0.303126,10.752826,-0.015120,9.076309,9.077011
3,6.499787,11.188164,9.864071,0.647675,-1.349519,-1.495903,0.915501,11.071952,-0.427472,8.731138,8.756028
4,6.336826,10.742746,10.324728,0.647675,0.820746,1.045115,0.303126,11.449261,0.534684,8.291978,8.295806

In [19]:
log_feat= ['credit_score', 'income', 'loan_amount', 'savings_balance', 'default_risk_score', 'predicted_default_risk_gb']
df_test[log_feat]= np.exp(df_test[log_feat])

In [21]:
df_test.head()

,credit_score,income,loan_amount,loan_term,interest_rate,debt_to_income_ratio,employment_years,savings_balance,age,default_risk_score,predicted_default_risk_gb
0,341.0,31746.0,8984.0,0.647675,0.494890,-0.967770,-0.615437,91418.0,0.947036,8343.948454,8313.079239
1,440.0,115082.0,42052.0,1.336692,-1.653229,0.249744,-1.125750,17128.0,0.603409,1711.293506,1647.667587
2,620.0,35314.0,6620.0,-0.041341,0.159543,-0.427860,0.303126,46762.0,-0.015120,8745.629774,8751.766166
3,665.0,72270.0,19227.0,0.647675,-1.349519,-1.495903,0.915501,64341.0,-0.427472,6192.771456,6348.844744
4,565.0,46293.0,30477.0,0.647675,0.820746,1.045115,0.303126,93832.0,0.534684,3991.722206,4007.030225

In [23]:
# Load the trained RF model
with open("rf_best.pkl", "rb") as file:
    rf_best = pickle.load(file)

In [25]:
# We try Random Forest model
test_pred_rf= rf_best.predict(X)
mse= mean_absolute_error(y, test_pred_rf)
mape= mean_absolute_percentage_error(y, test_pred_rf)
rmse = np.sqrt(mse)
r2= r2_score(y, test_pred_rf)
print(f"MSE: {mse:.2f}")
print(f"RMSE: {rmse:.2f}")
print(f"MAPE: {mape:.2f}")
print(f"R2 Score: {r2:.2f}")

MSE: 0.03
RMSE: 0.17
MAPE: 0.00
R2 Score: 0.99

In [27]:
df_test['pred_default_risk_rf']= pd.DataFrame(test_pred_rf)
df_test.head()

,credit_score,income,loan_amount,loan_term,interest_rate,debt_to_income_ratio,employment_years,savings_balance,age,default_risk_score,predicted_default_risk_gb,pred_default_risk_rf
0,341.0,31746.0,8984.0,0.647675,0.494890,-0.967770,-0.615437,91418.0,0.947036,8343.948454,8313.079239,9.029518
1,440.0,115082.0,42052.0,1.336692,-1.653229,0.249744,-1.125750,17128.0,0.603409,1711.293506,1647.667587,7.405767
2,620.0,35314.0,6620.0,-0.041341,0.159543,-0.427860,0.303126,46762.0,-0.015120,8745.629774,8751.766166,9.079124
3,665.0,72270.0,19227.0,0.647675,-1.349519,-1.495903,0.915501,64341.0,-0.427472,6192.771456,6348.844744,8.747488
4,565.0,46293.0,30477.0,0.647675,0.820746,1.045115,0.303126,93832.0,0.534684,3991.722206,4007.030225,8.289746

In [29]:
df_test['pred_default_risk_rf']= np.exp(df_test['pred_default_risk_rf'])
df_test.head()

,credit_score,income,loan_amount,loan_term,interest_rate,debt_to_income_ratio,employment_years,savings_balance,age,default_risk_score,predicted_default_risk_gb,pred_default_risk_rf
0,341.0,31746.0,8984.0,0.647675,0.494890,-0.967770,-0.615437,91418.0,0.947036,8343.948454,8313.079239,8345.836221
1,440.0,115082.0,42052.0,1.336692,-1.653229,0.249744,-1.125750,17128.0,0.603409,1711.293506,1647.667587,1645.446054
2,620.0,35314.0,6620.0,-0.041341,0.159543,-0.427860,0.303126,46762.0,-0.015120,8745.629774,8751.766166,8770.277742
3,665.0,72270.0,19227.0,0.647675,-1.349519,-1.495903,0.915501,64341.0,-0.427472,6192.771456,6348.844744,6294.854663
4,565.0,46293.0,30477.0,0.647675,0.820746,1.045115,0.303126,93832.0,0.534684,3991.722206,4007.030225,3982.820785

In [31]:
# Load the trained model
with open("ridge_best.pkl", "rb") as file:
    ridge_best = pickle.load(file)

In [33]:
# We try Ridge model
test_pred_r= ridge_best.predict(X)
mse= mean_absolute_error(y, test_pred_r)
mape= mean_absolute_percentage_error(y, test_pred_r)
rmse = np.sqrt(mse)
r2= r2_score(y, test_pred_r)
print(f"MSE: {mse:.2f}")
print(f"RMSE: {rmse:.2f}")
print(f"MAPE: {mape:.2f}")
print(f"R2 Score: {r2:.2f}")

MSE: 0.40
RMSE: 0.63
MAPE: 0.06
R2 Score: 0.57

In [35]:
df_test['pred_default_risk_rdge']= pd.DataFrame(test_pred_r)
df_test.head()

,credit_score,income,loan_amount,loan_term,interest_rate,debt_to_income_ratio,employment_years,savings_balance,age,default_risk_score,predicted_default_risk_gb,pred_default_risk_rf,pred_default_risk_rdge
0,341.0,31746.0,8984.0,0.647675,0.494890,-0.967770,-0.615437,91418.0,0.947036,8343.948454,8313.079239,8345.836221,9.429308
1,440.0,115082.0,42052.0,1.336692,-1.653229,0.249744,-1.125750,17128.0,0.603409,1711.293506,1647.667587,1645.446054,7.433476
2,620.0,35314.0,6620.0,-0.041341,0.159543,-0.427860,0.303126,46762.0,-0.015120,8745.629774,8751.766166,8770.277742,9.773278
3,665.0,72270.0,19227.0,0.647675,-1.349519,-1.495903,0.915501,64341.0,-0.427472,6192.771456,6348.844744,6294.854663,8.404828
4,565.0,46293.0,30477.0,0.647675,0.820746,1.045115,0.303126,93832.0,0.534684,3991.722206,4007.030225,3982.820785,7.917651

In [37]:
df_test['pred_default_risk_rdge']= np.exp(df_test['pred_default_risk_rdge'])
df_test.head()

,credit_score,income,loan_amount,loan_term,interest_rate,debt_to_income_ratio,employment_years,savings_balance,age,default_risk_score,predicted_default_risk_gb,pred_default_risk_rf,pred_default_risk_rdge
0,341.0,31746.0,8984.0,0.647675,0.494890,-0.967770,-0.615437,91418.0,0.947036,8343.948454,8313.079239,8345.836221,12447.906041
1,440.0,115082.0,42052.0,1.336692,-1.653229,0.249744,-1.125750,17128.0,0.603409,1711.293506,1647.667587,1645.446054,1691.677349
2,620.0,35314.0,6620.0,-0.041341,0.159543,-0.427860,0.303126,46762.0,-0.015120,8745.629774,8751.766166,8770.277742,17558.225118
3,665.0,72270.0,19227.0,0.647675,-1.349519,-1.495903,0.915501,64341.0,-0.427472,6192.771456,6348.844744,6294.854663,4468.589260
4,565.0,46293.0,30477.0,0.647675,0.820746,1.045115,0.303126,93832.0,0.534684,3991.722206,4007.030225,3982.820785,2745.315325

In [41]:
#Visualize the three predicted columns- first 10 rows
df_test[['default_risk_score', 'predicted_default_risk_gb',	'pred_default_risk_rf',	'pred_default_risk_rdge']].head(10)

,default_risk_score,predicted_default_risk_gb,pred_default_risk_rf,pred_default_risk_rdge
0,8343.948454,8313.079239,8345.836221,12447.906041
1,1711.293506,1647.667587,1645.446054,1691.677349
2,8745.629774,8751.766166,8770.277742,17558.225118
3,6192.771456,6348.844744,6294.854663,4468.589260
4,3991.722206,4007.030225,3982.820785,2745.315325
5,7879.546891,7845.257064,7870.157012,8972.414496
6,2171.614729,2100.119942,2059.668701,1761.412108
7,5015.337309,5083.513600,5048.802822,3330.279261
8,3607.493570,3562.628944,3561.322564,2294.028179
9,4124.574910,4114.099819,4155.435361,2527.264206